body {
    text-align: center;
    background-color: black;
    font-family: "netflixTypo";
    width: 100%;
    height: 100%;
    text-decoration: none;
}

h1 {
    margin: 0%;
    color: red;
    font-size: 900%;
    font-family: 'Alfa Slab One', cursive;
}


/*Police qui s'applique à tout les labels*/

@font-face {
    font-family: "netflixTypo";
    src: url("font/bebasneue-regular-webfont.woff2") format("woff2"), url("/font/bebasneue-regular-webfont.woff") format("woff");
}

.imgGoldenBrush {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    margin-top: 5%;
    height: 15%;
    width: 15%;
}

#imgs {
    overflow: hidden;
}


/*Always tasty label + Peinture dorée*/

.relativeImage {
    position: relative;
}

.labelh2 {
    color: white;
    position: absolute;
    top: 45%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    font-family: "netflixTypo";
}

img {
    width: 55%;
    margin-bottom: 2%;
}

* {
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    width: 55%;
    height: 280px;
    background: rgb(199, 169, 115);
    background-image: url("./img/chocoBtn8.jpg");
    background-size: 1045px, 500px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 200%;
    color: red;
    border: 3px solid red;
    text-shadow: 4px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1.5px 1.5px black, -1.5px -1.5px 0 black, 1.5px -1.5px 0 black, -1.5px 1.5px 0 black;
}

button:hover {
    border: 5px solid red;
}

.footerInfo {
    text-align: center;
    font-size: 200%;
    margin-top: 8%;
}


/*Fond doré des deux premier label au pied de page*/

.footerGoldText {
    background-image: linear-gradient( to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

table {
    margin-left: 46%;
    margin: auto;
}

td {
    color: white;
}

.phoneNumber {
    text-decoration: none;
}


/*Partie responsive*/

@media screen and (max-width: 800px) {
    body {
        text-align: center;
    }
    h1 {
        font-size: 600%;
    }
    button {
        width: 100%;
        margin-top: 10%;
        font-size: 150%;
        border-radius: 4%;
        text-decoration: none;
        color: red;
        border: 1px solid red;
    }
    .relativeImage {
        margin-bottom: 15%;
    }
    .labelh2 {
        font-size: 200%;
        position: absolute;
        top: 72%;
        left: 51%;
        transform: translate(-50%, -50%);
    }
    .imgGoldenBrush {
        height: 40%;
        width: 60%;
        margin-top: 27%;
    }
    img {
        width: 100%;
    }
    /*Fin partie responsive*/
}